#map {
	height: calc(100vh-12vh);
	width: 100vw;
	left: 0;
	top: 0;
	position: fixed;
}
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
			.btn_branding {
				position: fixed;
				z-index: 10;
				right: 40px;
				bottom: 20px;
				font-size: 18px;
				min-width: 250px;
			}
			.aClassName {
				background: #999999;
			}

